@model Spoe.Data.Estudiante

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Estudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GradoCursar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GradoCursar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreTutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreTutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoTutor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoTutor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Documentos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Documentos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Volver</a>
</div>
